Django>=5.4.2
psycopg2-binary>=2.9.3
django-advanced-password-validation
python-dotenv
pandas
jupyter
notebook
ipykernel
django-unfold==0.60.0
iost==6.0.1
django-cache-cleaner==0.2.0
pre-commit==4.2.0
